/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculate-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 20px;
}
.content-container {
  width: 200px;
}
.img {
  height: 300px;
  width: 300px;
}
.content {
  display: flex;
  flex-direction: column;
}
.heading {
  color: #ffffff;
}
.para {
  color: #ffffff;
  font-size: 10px;
}
.input {
  color: #e4e7eb;
  outline: none;
  background-color: transparent;
  border-color: #ffffff;
  border-width: 1px;
  font-size: 10px;
  height: 20px;
  margin-bottom: 25px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}
.button {
  height: 46px;
  width: 150px;
  border-width: 0px;
  border-radius: 10px;
  color: #219a6f;
  font-weight: bold;
  outline: none;
  background-color: #ffffff;
  text-align: center;
}
